<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello World</h1>
    <div class="card" style="width: 20rem">
        <div class="card-body">
            <h5 class="card-title">${oneChart.topic}</h5>
            <p class="card-text">${oneChart.subject}</p>
            <p class="card-text">${oneChart.grade}</p>
            <p class="card-text">${oneChart.price}</p>
            <span>
                <a href="#" class="btn btn-primary">add to cart</a>
            </span>
        </div>
    </div>
</body>

</html>